name: lint and validate

on:
  pull_request:
    branches: [master, main]

jobs:
  lint-md:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - run: npm install
      - run: npm run lint:md
      - run: npm run lint:css
      - run: npm run validate:html -- ./index.html
      - run: npm run validate:html -- ./pages
      
